<header class="navbar">


<div class="container">



<a href="index.html" class="logo">


<img src="assets/images/logo.png" alt="Logo Purificá">


</a>





<nav class="nav-links">


<a href="index.html">

Início

</a>


<a href="catalogo.html">

Catálogo

</a>


<a href="diferenciais.html">

Diferenciais

</a>


<a href="sobre.html">

Sobre nós

</a>


<a href="faq.html">

FAQ

</a>


<a href="contato.html">

Contato

</a>



</nav>






<a 
href="https://wa.me/5511999999999"
class="btn btn-primary navbar-whatsapp"
target="_blank"
>


<img src="assets/images/icons/whatsapp.svg">


<span>

Fale no WhatsApp

</span>


</a>







<button class="menu-toggle" aria-label="Abrir menu">


<span></span>

<span></span>

<span></span>


</button>





</div>


</header>